@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');

* {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  text-decoration: none;
  color: #9d9d9d;
}

.container-fluid {
  height: 50px;
  display: flex;
  background-color: #DFDCCA;

  .navbar-brand {
    color: #6e6754 !important;
    font-family: 'Dancing Script', cursive;
    font-size: 30px !important;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
  }

  .collapse {
    display: flex;
    gap: 80rem;

    .nav {
      display: flex;
      justify-content: space-between;
      padding-top: 0.15rem;
      list-style-type: none;
      padding-left: 0;
      .active {
        padding-right: 1rem;
      }

      /* .active:hover a {
        color: #DFDCCA !important;
        background-color: #b0a1a1 !important;
      } */
    }
  }

    .carrinho {
      margin: 3px;
      width: 2rem;
    }
}



