<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/vitrine">Café Connect</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/vitrine">Página Inicial</a></li>
          <li><a href="/busca">Produtos</a></li>
          <li><a href="#">Sobre Nós</a></li>
          <li><a href="#">Contato</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><img src="../../../assets/carrinho.png" alt="carrinho" width="30px" class="carrinho"></li>
          <li ><a href="/cesta" class="texto-carrinho">Carrinho</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="login">
    <p class="titulo-login">Seja Bem vindo(a)!</p>
    <label for="usuario-login" class="usuario-login">Usuário</label>
    <input type="email" id="usuario-login" class="input" placeholder="Digite seu usuário">
    <label for="senha-login" class="senha-login">Senha</label>
    <input type="password" id="senha-login" placeholder="Digite sua senha">
    <a href="/senha" class="esqueci-senha">Esqueci a senha</a>
    <button class="botao-login">Entrar</button>
    <footer class="rodape-login">
      <a href="/cadastro" class="cadastro">Cadastre-se</a>
    </footer>
  </div>
</body>

<footer class="container-fluid text-center">
  <p>Café Connect / CNPJ: 00.000.000/0000-00, <br>
    R. Frei João, 59 - Ipiranga, São Paulo - SP, 04280-130 <br>
    contato@cafeconnect.com.br</p>
</footer>

