<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Café Connect</a>
    </div>
    <div class="collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Página Inicial</a></li>
        <li class="active"><a href="#">Produtos</a></li>
        <li class="active"><a href="#">Sobre Nós</a></li>
        <li class="active"><a href="#">Contato</a></li>
      </ul>
    </div>
  </div>
</nav>


