<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Café Connect</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Página Inicial</a></li>
        <li><a href="#">Produtos</a></li>
        <li><a href="#">Sobre Nós</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><img src="../../../assets/carrinho.png" alt="carrinho" width="30px" class="carrinho"></li>
        <li ><a href="#" class="texto-carrinho">Carrinho</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="esqueci">
  <p class="titulo-login">Insira seu e-mail</p>
  <div class="input-group mb-3">
    <input type="email" class="form-control" placeholder="Digite e-mail" aria-label="Recipient's username" aria-describedby="button-addon2" required>
    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Button</button>
  </div>
</div>
</body>




