/* LOGO DO SITE */
.navbar-brand {
  color: #6e6754 !important;
  font-family: Dancing Script;
  font-size: 30px;
}

.navbar {
  margin-bottom: 0;
  border: none;
  background-color: #DFDCCA;
 }

 .carrinho {
  margin-top: 0.75rem;
 }

 .texto-carrinho {
  padding-left: 1px;
 }

  .navbar-nav li.active a {
    color: #DFDCCA !important;
    background-color: #b0a1a1 !important;
  }


  .esqueci {
    margin-left: 37%;
    margin-top: 7%;
    padding: 3rem 5rem;
    max-width:max-content;
    background-color: #DFDCCA;
    border-radius: 1rem;

    .titulo-login {
      padding-left: 1.5rem;
      margin-bottom: 2rem;
      color: #6e6754 !important;
      font-family: Dancing Script;
      font-size: 30px;
    }

    .input-group {
      display: flex;
    }

    #button-addon2 {
      background-color: #6e6754;
      color: #DFDCCA;
    }

    #button-addon2:hover {
      color: #DFDCCA !important;
      background-color: #b0a1a1 !important;
    }
  }








